<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bussinesfilepath" value="/DATA/EQUNOSBOVINOS.DAT"/>
    <add key="logfilepath" value="ErrorLog"/>
    <add key="patternbovinos" value="^b"/>
    <add key="providerdata" value="DAT"/>
    <add key="equinosoutputfile" value="/Output/EQUINOS.DAT"/>
    <add key="bovinosoutputfile" value="/Output/BOVINOS.DAT"/>
    <add key="createfolders" value="Output"/>
  </appSettings>
</configuration>